scripts=["
    ensure nodes (sling:OrderedFolder) /content/dam/pillar/jcr:content (nt:unstructured)
    set properties on /content/dam/pillar/jcr:content
      set cq:conf{String} to /conf/pillar
      set jcr:title{String} to Pillar
    end

    ensure nodes (sling:OrderedFolder) /content/dam/pillar/cfm
    ensure nodes (sling:OrderedFolder) /content/dam/pillar/images
    ensure nodes (sling:OrderedFolder) /content/dam/pillar/site

    ensure nodes (cq:Page) /content/pillar/jcr:content (cq:PageContent)
    set properties on /content/pillar/jcr:content
      set cq:conf{String} to /conf/pillar
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to Pillar
    end

    ensure nodes (cq:Page) /content/pillar/us/jcr:content (cq:PageContent)
    set properties on /content/pillar/us/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to us
    end

    ensure nodes (cq:Page) /content/pillar/us/en/jcr:content (cq:PageContent)
    set properties on /content/pillar/us/en/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to en
    end

    ensure nodes (cq:Page) /content/pillar/us/es/jcr:content  (cq:PageContent)
    set properties on /content/pillar/us/es/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to es
    end

    ensure nodes (cq:Page) /content/pillar/ca/jcr:content  (cq:PageContent)
    set properties on /content/pillar/ca/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to ca
    end

    ensure nodes (cq:Page) /content/pillar/ca/en/jcr:content  (cq:PageContent)
    set properties on /content/pillar/ca/en/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to en
    end

    ensure nodes (cq:Page) /content/pillar/ca/fr/jcr:content  (cq:PageContent)
    set properties on /content/pillar/ca/fr/jcr:content
      set cq:template{String} to /conf/pillar/settings/wcm/templates/page-content
      set sling:resourceType{String} to pillar/components/page/v1/page
      set jcr:title{String} to fr
    end

    create group pillar-users with path /home/groups/pillar
    create group pillar-authors with path /home/groups/pillar
    create group pillar-editors with path /home/groups/pillar
    create group pillar-admins with path /home/groups/pillar
    create group pillar-devops with path /home/groups/pillar

    create user user1 with path /home/users/pillar
    create user user2 with path /home/users/pillar
    create user author3 with path /home/users/pillar
    create user author4 with path /home/users/pillar
    create user editor5 with path /home/users/pillar
    create user editor6 with path /home/users/pillar
    create user admin7 with path /home/users/pillar
    create user devops8 with path /home/users/pillar

    add user1 to group pillar-users
    add user2 to group pillar-users
    add author3 to group pillar-authors
    add author4 to group pillar-authors
    add editor5 to group pillar-editors
    add editor6 to group pillar-editors
    add admin7 to group pillar-admins
    add devops8 to group pillar-devops

    add pillar-users to group contributor
    add pillar-users to group workflow-users
    add pillar-authors to group pillar-users
    add pillar-authors to group content-authors
    add pillar-authors to group dam-users
    add pillar-editors to group pillar-authors
    add pillar-editors to group template-authors
    add pillar-admins to group pillar-editors
    add pillar-admins to group administrators
    add pillar-devops to group pillar-editors
    add pillar-devops to group user-administrators

    set ACL for pillar-users
      allow jcr:read on /content restriction(rep:glob)
      allow jcr:read on /content/pillar
      allow jcr:read on /content/dam/pillar
      deny jcr:read on /var/workflow/models restriction(rep:glob, /*)
    end

    set ACL for pillar-authors
      deny crx:replicate on /content/pillar
      deny crx:replicate on /content/dam/pillar
      allow jcr:read on /var/workflow/models/pillar-demo
    end
 "]
