/.idea/
.DS_Store

/.vscode/

target/
node/
node_modules/

/common.config/src/main/content/jcr_root/apps/pillar-common/osgiconfig/config.local/
/ui.frontend/dist/
/ui.tests/test-module/node/
/ui.tests/test-module/node_modules/
/ui.config/src/main/content/jcr_root/apps/pillar/osgiconfig/config.local/
