scripts=["
    create service user pillar-service-user

    set ACL for pillar-service-user
        allow jcr:read,jcr:readAccessControl on /
        allow jcr:read,rep:write on /home/users
    end

    create service user pillar-workflow-service-user

    set ACL for pillar-workflow-service-user
        allow jcr:read on /apps/workflow
        allow jcr:all on /etc/workflow
        allow jcr:read on /libs/workflow
        allow jcr:all on /var/workflow
        allow jcr:read on /libs/settings/workflow
    end
"]