scripts=["

    create user user1 with path /home/users/pillar with password pillar
    create user user2 with path /home/users/pillar with password pillar
    create user author3 with path /home/users/pillar with password pillar
    create user author4 with path /home/users/pillar with password pillar
    create user editor5 with path /home/users/pillar with password pillar
    create user editor6 with path /home/users/pillar with password pillar
    create user admin7 with path /home/users/pillar with password pillar
    create user devops8 with path /home/users/pillar with password pillar


 "]
